{% load static %}{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>devX || Buyer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <style type="text/css">
        body {
            margin-top: 20px;
            background: #f4feff;
        }
        
        .row {
            margin: 0;
        }
        
        .btn {
            margin-bottom: 5px;
        }
        
        .grid {
            position: relative;
            width: 100%;
            background: #f4feff;
            color: #666666;
            border-radius: 2px;
            margin-bottom: 25px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        }
        
        .grid .grid-body {
            padding: 15px 20px;
            font-size: 0.9em;
            line-height: 1.9em;
        }
        
        .search table tr td.rate {
            color: #f39c12;
            line-height: 50px;
        }
        
        .search table tr:hover {
            cursor: pointer;
        }
        
        .search table tr td.image {
            width: 50px;
        }
        
        .search table tr td img {
            width: 50px;
            height: 50px;
        }
        
        .search table tr td.rate {
            color: #f39c12;
            line-height: 50px;
        }
        
        .search table tr td.price {
            font-size: 1.5em;
            line-height: 50px;
        }
        
        .search #price1,
        .search #price2 {
            display: inline;
            font-weight: 600;
        }
        
        .aside-filter {
            height: 100vh;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="fluid-container">
        <div class="row">
            <!-- BEGIN SEARCH RESULT -->
            <div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                            <!-- BEGIN FILTERS -->
                            <div class="col-md-3 aside-filter">
                                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                                <hr>

                                <!-- BEGIN FILTER BY CATEGORY -->
                                <h4>By category:</h4>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Application</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Design</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Desktop</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Management</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Mobile</label>
                                </div>
                                <!-- END FILTER BY CATEGORY -->

                                <div class="padding"></div>

                                <!-- BEGIN FILTER BY DATE -->
                                <h4>By date:</h4>
                                From
                                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                                    <input type="date" class="form-control rounded">
                                    <!-- <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span> -->
                                </div>
                                <input type="hidden" id="dtp_input1" value=""> To
                                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                                    <input type="date" class="form-control rounded">
                                    <!-- <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span> -->
                                </div>
                                <input type="hidden" id="dtp_input2" value="">
                                <!-- END FILTER BY DATE -->

                                <div class="padding"></div>

                                <!-- BEGIN FILTER BY PRICE -->
                                <h4 class="mt-5">By price:</h4>
                                Between
                                <div id="price1">$300</div> to
                                <div id="price2">$1000</div>
                                <!-- <<label for="customRange3" class="form-label">Example range</label> -->
                                <br>
                                <input type="range" class="form-range" min="0" max="1000" step="100" id="customRange3">
                                <!-- END FILTER BY PRICE -->
                            </div>
                            <!-- END FILTERS -->
                            <!-- BEGIN RESULT -->
                            <div class="col-md-9">
                                <a href="{% url 'home' %}">
                                    <h2><i class="fa fa-file-o"></i> Home</h2>
                                </a>
                                <hr>
                                <!-- BEGIN SEARCH INPUT -->
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="search" placeholder="Search by keywords">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                                <!-- END SEARCH INPUT -->
                                <p>Showing all results matching "web development"</p>

                                <div class="padding"></div>

                                <div class="row">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order by <span class="caret"></span>
                  </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Name</a></li>
                                                <li><a href="#">Date</a></li>
                                                <li><a href="#">View</a></li>
                                                <li><a href="#">Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->

                                    <div class="col-md-6 text-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <!-- BEGIN TABLE RESULT -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            {% for dataset in datasets %}

                                            <tr>
                                                <td class="number text-center">1</td>
                                                <td class="product"><strong><a href="{% url 'detail-dataset' dataset.id %}">{{ dataset.title }}</a></strong><br>{% if dataset.description %}{{ dataset.description }}{% endif %}</td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                                <td class="price text-right">$350</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END TABLE RESULT -->

                                <!-- BEGIN PAGINATION -->
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                                <!-- END PAGINATION -->
                            </div>
                            <!-- END RESULT -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SEARCH RESULT -->
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>



{% endblock %}